<div class="example-container mat-elevation-z8">
  <md-table #table [dataSource]="_cS">

    <!-- ID Column -->
    <ng-container mdColumnDef="id">
      <md-header-cell *mdHeaderCellDef> ID</md-header-cell>
      <md-cell *mdCellDef="let element"> {{element._id}}</md-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container mdColumnDef="name">
      <md-header-cell *mdHeaderCellDef> Name</md-header-cell>
      <md-cell *mdCellDef="let element"> {{element.name}}</md-cell>
    </ng-container>

    <!-- Phone Column -->
    <ng-container mdColumnDef="phone">
      <md-header-cell *mdHeaderCellDef> Phone</md-header-cell>
      <md-cell *mdCellDef="let element"> {{element.phone}}</md-cell>
    </ng-container>

    <!-- Email Column -->
    <ng-container mdColumnDef="email">
      <md-header-cell *mdHeaderCellDef> Email</md-header-cell>
      <md-cell *mdCellDef="let element"> {{element.email}}</md-cell>
    </ng-container>

    <md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>
    <md-row *mdRowDef="let row; columns: displayedColumns;" (click)="goToContact(row)"></md-row>
  </md-table>
</div>
