<md-card class="contact-card">
  <md-card-header>
    <md-card-title>{{ contact.name }}</md-card-title>
    <md-card-subtitle>{{ contact.id }}</md-card-subtitle>
  </md-card-header>
  <md-card-content>
    <dl>
      <dt>Phone:</dt>
      <dd>{{ contact.phone }}</dd>
      <dt>Email:</dt>
      <dd>{{ contact.email }}</dd>
    </dl>
  </md-card-content>
  <md-card-actions>
    <button md-icon-button (click)="goBack()">
      <md-icon class="md-24" aria-label="Example icon-button with a heart icon">arrow_back</md-icon>
    </button>
  </md-card-actions>
</md-card>
